USE [master]
GO
/****** Object:  Database [LungCancer]    Script Date: 5/6/2023 12:35:45 AM ******/
CREATE DATABASE [LungCancer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LungCancer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2\MSSQL\DATA\LungCancer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LungCancer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2\MSSQL\DATA\LungCancer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LungCancer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LungCancer]
GO
/****** Object:  Table [dbo].[Diagnosis]    Script Date: 5/6/2023 12:35:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[OtherInfo] [varchar](max) NULL,
 CONSTRAINT [PK__Diagnosi__3214EC07D856AAEF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 5/6/2023 12:35:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[UserEmail] [varchar](100) NULL,
	[UserPassword] [varchar](100) NULL,
	[OtherInfo] [varchar](max) NULL,
 CONSTRAINT [PK__Doctors__3214EC073D51E8F2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 5/6/2023 12:35:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NULL,
	[FilePath] [varbinary](max) NULL,
	[UploadDate] [datetime] NULL,
	[UserId] [int] NULL,
	[PatientId] [int] NULL,
 CONSTRAINT [PK__Images__3214EC07B44DABA2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 5/6/2023 12:35:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[OtherInfo] [varchar](max) NOT NULL,
	[doctor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predictions]    Script Date: 5/6/2023 12:35:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predictions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Result] [varchar](50) NULL,
	[PredictionDate] [datetime] NULL,
	[ImageId] [int] NULL,
	[DoctorId] [int] NULL,
	[UserId] [int] NULL,
	[PrescriptionId] [int] NULL,
 CONSTRAINT [PK__Predicti__3214EC077CBEE6E7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 5/6/2023 12:35:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [varchar](100) NULL,
	[Dosage] [varchar](50) NULL,
	[DiagnosisId] [int] NULL,
	[DoctorId] [int] NULL,
 CONSTRAINT [PK__Prescrip__3214EC07DF3B37E3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/6/2023 12:35:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[UserEmail] [varchar](100) NULL,
	[UserPassword] [varchar](100) NULL,
	[UserRole] [varchar](50) NULL,
 CONSTRAINT [PK__Users__3214EC07A3FF7CC3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diagnosis] ON 

INSERT [dbo].[Diagnosis] ([Id], [UserName], [OtherInfo]) VALUES (1, N'lung Cancer', N'LungCancer Detailes becuase of many possibles thing prviuosly done by the patient')
SET IDENTITY_INSERT [dbo].[Diagnosis] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [UserName], [UserEmail], [UserPassword], [OtherInfo]) VALUES (1, N'Alakwaa', N'alakwaa@gmail.com', N'12345667', N'nothing to add')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Predictions] ON 

INSERT [dbo].[Predictions] ([Id], [Result], [PredictionDate], [ImageId], [DoctorId], [UserId], [PrescriptionId]) VALUES (2, N'begining of lung cancer', NULL, 3, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Predictions] OFF
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([Id], [MedicineName], [Dosage], [DiagnosisId], [DoctorId]) VALUES (1, N'koko', N'twice/daily', 1, 1)
SET IDENTITY_INSERT [dbo].[Prescription] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [UserEmail], [UserPassword], [UserRole]) VALUES (1, N'Ali', N'ali@gmail.com', N'774707387', N'admin')
INSERT [dbo].[Users] ([Id], [UserName], [UserEmail], [UserPassword], [UserRole]) VALUES (2, N'aligmail', N'gmail@gmail.com', N'774707387', NULL)
INSERT [dbo].[Users] ([Id], [UserName], [UserEmail], [UserPassword], [UserRole]) VALUES (3, N'alimohammed', N'mohammed@gmail.com', N'771122042', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK__Images__PatientI__300424B4] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK__Images__PatientI__300424B4]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK__Images__UserId__30F848ED] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK__Images__UserId__30F848ED]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Doctors] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Doctors]
GO
ALTER TABLE [dbo].[Predictions]  WITH CHECK ADD  CONSTRAINT [FK_Predictions_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Predictions] CHECK CONSTRAINT [FK_Predictions_Doctors]
GO
ALTER TABLE [dbo].[Predictions]  WITH CHECK ADD  CONSTRAINT [FK_Predictions_Images] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[Predictions] CHECK CONSTRAINT [FK_Predictions_Images]
GO
ALTER TABLE [dbo].[Predictions]  WITH CHECK ADD  CONSTRAINT [FK_Predictions_Prescription] FOREIGN KEY([PrescriptionId])
REFERENCES [dbo].[Prescription] ([Id])
GO
ALTER TABLE [dbo].[Predictions] CHECK CONSTRAINT [FK_Predictions_Prescription]
GO
ALTER TABLE [dbo].[Predictions]  WITH CHECK ADD  CONSTRAINT [FK_Predictions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Predictions] CHECK CONSTRAINT [FK_Predictions_Users]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK__Prescript__Diagn__3E52440B] FOREIGN KEY([DiagnosisId])
REFERENCES [dbo].[Diagnosis] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK__Prescript__Diagn__3E52440B]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK__Prescript__Docto__33D4B598] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK__Prescript__Docto__33D4B598]
GO
USE [master]
GO
